*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

# Env files
.env

# VSCode
.vscode
launch.json

# mypy
.mypy_cache

# add layers but ignore any .zip
layers/*.zip
