<div class="container p-4">
  <section class="header">
    <h1>Income</h1>
  </section>
  <main class="flex flex-col space-y-8">
    <div class="charts">
      <p class="py-4">{{ summaryMessage() }}</p>
      <div class="chart-container">
        <canvas
          #incomeSummaryChartCanvas
          id="duration-income-summary-canvas"
        ></canvas>
      </div>
    </div>
    <div class="actions flex flex-row-reverse">
      <div class="button-container">
        <button mat-fab extended (click)="onAddIncome()">
          <mat-icon>add</mat-icon>
          Add Income
        </button>
      </div>
    </div>
    <table mat-table [dataSource]="incomeDataSource" matSort>
      <ng-container
        *ngFor="let column of INCOME_COLUMNS"
        [matColumnDef]="column"
      >
        <th class="font-bold" mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ column | uppercase }}
        </th>
        <td mat-cell *matCellDef="let income">
          {{ income[column] | shorten: 75 : "..." }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="INCOME_COLUMNS"></tr>
      <tr
        mat-row
        class="cursor-pointer"
        *matRowDef="let row; columns: INCOME_COLUMNS"
        (click)="onRowClick(row)"
      ></tr>
    </table>
    <mat-paginator
      [length]="100"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page"
    >
    </mat-paginator>
  </main>
  <section class="footer"></section>
</div>
