<div class="sidenav container flex flex-col space-y-8 px-8 py-8">
  <mat-nav-list class="flex flex-col space-y-2">
    @for (item of NAVIGATION_ITEMS; track item) {
      <div class="navigation-item">
        <a
          mat-list-item
          [disabled]="item.disabled"
          [routerLink]="item.disabled ? null : item.path"
          [activated]="item.active"
          (click)="setActive(item)"
        >
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          {{ item.label }}</a
        >
      </div>
    }
  </mat-nav-list>
</div>
